Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.1
Flask-Testing==0.7.1
Flask-WTF==0.14.2
Jinja2==2.10.3
requests==2.21.0
SQLAlchemy==1.2.16
urllib3==1.25.6
Werkzeug==0.16.0
WTForms==2.2.1
