{% extends 'base.html' %} {% block content %}


<div class="col-md-12 text-left">
    <div class="card text-center" id="main_card">
        <div class="row">
            <div class="col-md-4 text-left">
                <h2>Convert Bits Decimal:</h2>
                <div class="row"></div>
                <form action="" method="POST" class="col s12">
                    <div class="card" id="blockchain">
                        <div class="row">
                            <div class="input-field col s12" id="field">
                                <i class="material-icons prefix">assignment</i>
                                <input id="q_field" name="bits" type="text" style="color: white" required>
                                <label for="icon_prefix">Enter Number</label>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="row">
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row">
                                <button class="btn waves-effect waves-light" type="submit" id="add">Convert</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8 text-left">
                <h2>Current Target:</h2>
                <div class="row"></div>
                <div class="card" id="blockchain">
                    <div class="table-responsive">
                       <h4 style="color: #FFCB9A"> {{ response.target }} </h4>
                    </div>
                </div>
            </div>

        </div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row">
            <a href="{{url_for('index')}}" class="waves-effect waves-light btn-large" id="add"><i class="large material-icons left">keyboard_return</i>Back to Main Page</a>
        </div>
    </div>
</div>
{% endblock %}
