{% extends 'base.html' %} {% block content %}





<div class="row"></div>
<div class="row"></div>
<div class="row"></div>

<div class="row">
    <div class="col-md-12 text-left">
        <div class="card text-left" id="main_card">
            <div class="row">
                <div class="col-md-2 text-left">
                    <h2>Mine LeanCoin:</h2>
                </div>
                <div class="col-md-4 text-left">
                    <a href="{{ url_for('mine_block') }}" class="waves-effect waves-light btn-large" id="add" type="submit"><i class="fab fa-trade-federation fa-3x fa-rotate-180 fa-flip-vertical" id="lean-coin"></i></a>
                </div>
                <div class="col-md-4 text-left">
                    <h2>{{response.message}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 text-left">
                    <h2>Add Transaction:</h2>
                </div>
                <div class="col-md-4 text-left">
                    <a href="{{ url_for('add_transaction') }}" class="waves-effect waves-light btn-large" id="add" type="submit"><i class="fas fa-hand-holding-usd fa-3x"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 text-left">
                    <h2>Update Chain:</h2>
                </div>
                <div class="col-md-4 text-left">
                     <form action="{{url_for('replace_chain') }}" method="GET" class="col s12">
                        <button class="waves-effect waves-light btn-large" type="submit" id="add"><i class="fab fa-connectdevelop fa-3x"></i></button>
                    </form>
                </div>
            </div>
             <div class="row">
                <div class="col-md-2 text-left">
                    <h2>Bits to Target Converter:</h2>
                </div>
                <div class="col-md-4 text-left">
                     <a href="{{ url_for('converter') }}" class="waves-effect waves-light btn-large" id="add" type="submit"><i class="fas fa-sync fa-3x"></i></a>
                </div>
            </div>
            <div class="row"></div>

            <div class="row"></div>
            <div class="row text-center">
                <div class="col-md-3 col-lg-3 col-xl-4 text-center"></div>
                <div class="col-md-6 col-lg-6 col-xl-4 text-center">
                    
                    <div class="card text-center" id="blockchain">
                        <div class="row">
                            <div class="col-md-4 text-left">
                                <h3>BLOCK #:</h3>
                            </div>
                            <div class="col-md-8 text-center">
                                <h4> {{response.index}} </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-left">
                                <h3>MINED AT:</h3>
                            </div>
                            <div class="col-md-8 text-center">
                                <h4> {{response.timestamp}} </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-left">
                                <h3>PROOF-OF-WORK:</h3>
                            </div>
                            <div class="col-md-8 text-center">
                                <h4> {{response.proof}} </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-left">
                                <h3>PREVIOUS HASH:</h3>
                            </div>
                            <div class="col-md-8 text-center">
                                <h5> {{response.previous_hash}} </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-left">
                                <h3>TRANSACTIONS:</h3>
                            </div>
                            <div class="col-md-8 text-left">
                                
                                <table style="width:80%">
                                    {% for element in response.transactions %}
                                    <tr>
                                    <th>Sender:</th>
                                    <td>{{ element.sender }}</td>
                                </tr>
                                <tr>
                                    <th>Receiver:</th>
                                    <td>{{ element.receiver}}</td>
                                </tr>
                                <tr>
                                    <th>Amount:</th>
                                    <td>{{ element.amount}}</td>
                                </tr>  
                                    {% endfor %}
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-4 text-center"></div>
            </div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
             <a href="{{ url_for('display_blockchain') }}" class="waves-effect waves-light btn-large" id="add" type="submit"><i class="large material-icons left">arrow_downward</i>DISPLAY BLOCKCHAIN</a>
                
            </div>

            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
            </div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
            </div>
            <div class="row"></div>
            <div class="row text-center">

            </div>
        </div>
    </div>

    {% endblock %}
