{% extends 'base.html' %}


{% block content %}

<div class="row header">
    <div id="messageAlert" class="alert alert-message" role="alert">
    </div>
    <div id="messageError" class="alert alert-message" role="alert">

    </div>
</div>


<div class="dashboard-cards">
    <div class="row row-title">
            <h3>Build your Blockchain</h3>
        <p>&nbsp;&nbsp;<i class="fab fa-ethereum"></i> &nbsp; Use one of the functions available below</p>
    </div>
    <div class="row row-cards">
        <div class="col-md-3 col-sm-5">
            <button class="card horizontal card-function blockMining">
                <div class="card-image">
                    <i class="fab fa-2x fa-ethereum"></i>
                </div>
                <div class="card-stacked">
                    <span class="card-title">Mine Block</span>
                </div>
            </button>
            <button data-target="modalTransaction" class="card horizontal card-function modal-trigger">
                <div class="card-image">
                    <i class="fab fa-2x fa-btc"></i>
                </div>
                <div class="card-stacked">
                    <span class="card-title">Add Transaction</span>
                </div>
            </button>
            <button class="card horizontal card-function validationCheck">
                <div class="card-image">
                    <i class="fas fa-2x fa-check"></i>
                </div>
                <div class="card-stacked">
                    <span class="card-title">Validation Check</span>
                </div>
            </button>
            <form action="{{url_for('download_code', code_name='leancoin_ico') }}" method="GET" id="rate-form"
                  enctype="multipart/form-data">
                <button type="Download" class="card horizontal card-function">
                    <div class="card-image">
                       <i class="fas fa-2x fa-file-contract"></i>
                    </div>
                    <div class="card-stacked">
                        <span class="card-title">LeanCoin ICO</span>
                    </div>
                </button>
            </form>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card card-block" id="minedBlock">
                <div class="card-content">
                    <span class="card-title" id="blockIndex">Genesis Block</span>
                    <br>
                    <p><b>Proof of Work: </b><span id="proofOfWork">1</span></p>
                    <p><b>Mined at: </b> <span id="blockDate">2009-01-09</span></p>
                    <p><b> Time: </b><span id="blockTime">02:54:25.275350</span></p>
                    <p><b>Previous Hash:</b></p>
                    <p class="hash_number" id="HashNumber">0</p>
                    <p id="blockTransactions"><b>Transactions:</b></p>
                    <div class="row plain-element row-transactions">
                        <p class="transaction" id="transaction1"></p>
                        <p class="transaction" id="transaction2"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-title">
        <h3>Blockchain State</h3>
        <p>&nbsp;&nbsp;<i class="fab fa-ethereum"></i> &nbsp; Currently mined blocks with transactions data</p>
    </div>

    <div class="row row-cards" id="rowBlockchain">
        <div class="col-md-4 col-sm-5">
            <div class="card card-block">
                <div class="card-content">
                    <span class="card-title">Genesis Block</span>
                    <br>
                    <p><b>Proof of Work: </b><span>1</span></p>
                    <p><b>Mined at: </b> <span>2009-01-09</span></p>
                    <p><b> Time: </b><span>02:54:25.275350</span></p>
                    <p><b>Previous Hash:</b></p>
                    <p class="hash_number">0</p>
                    <p><b>Transactions:</b></p>
                    <div class="row plain-element row-transactions">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-title">
        <h3>Blockchain Utilities</h3>
        <p>&nbsp;&nbsp;<i class="fab fa-ethereum"></i> &nbsp; Useful Blockchain Tools</p>
    </div>
    <div class="row row-cards">
        <div class="col-md-10">
            <form class="col s12" id="formConverter">
                <div class="card card-block">
                    <div class="card-content">
                        <span class="card-title">Bits To Target Converter</span>
                        <br>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="bits" name="bits" type="number" style="color: white" required>
                                <label for="bits">Enter Bits Number</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <b>Target Value</b>
                                <br><br>
                                <p id="targetValue"></p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn-card"><span>Submit <i
                            class="far fa-arrow-alt-circle-right"></i></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="modalTransaction" class="modal">
    <form class="col s12" id="formTransaction">
        <div class="card form-card">
            <div class="card-content">
                <span class="card-title">Add Algorithm</span>
                <br><br>
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
                    <input id="sender" name="sender" type="text" maxlength="24" required>
                    <label for="sender">Sender</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
                    <input id="receiver" name="receiver" type="text" maxlength="24" required>
                    <label for="receiver">Receiver</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
                    <input id="amount" name="amount" type="number" style="color: white" min="1" required>
                    <label for="amount">Amount</label>
                </div>
                <div class="input-field col s12" style="height:25px">
                </div>
            </div>
            <button type="submit" class="btn-card" id="modalClose"><span>Submit <i
                    class="far fa-arrow-alt-circle-right"></i></span>
            </button>
        </div>
    </form>
</div>


{% endblock %}
